<page>
  <page-header>
    <page-title>Scott Logic lichess players</page-title>
  </page-header>
  <page-body>
    <div>
      <a *ngFor="let player of players" (click)="onSelect(player)">
        <badge>
          <badge-title>{{player.username}}</badge-title>
          <badge-content>
            <div class="col-left">
              <ul>
                <li>Online</li>
                <li style="text-align: center">Rankings</li>
                <li>Blitz</li>
                <li>Bullet</li>
                <li>Classical</li>
                <li>Correspondence</li>
                <li>Puzzle</li>
              </ul>
            </div>
            <div class="col-right">
              <ul>
                <li>{{player.online}}</li>
                <li></li>
                <li>{{player.blitz.rating}}</li>
                <li>{{player.bullet.rating}}</li>
                <li>{{player.classical.rating}}</li>
                <li>{{player.correspondence.rating}}</li>
                <li>{{player.puzzle.rating}}</li>
              </ul>
            </div>
          </badge-content>
        </badge>
      </a>
    </div>
  </page-body>
</page>
