:root
  --player-list-background-color: #EEE
  --player-list-hover-color: #607D8B
  --player-list-hover-background-color: #DDD

a
  display: inline-block
  margin-bottom: 40px
  margin-right: 50px
  width: 250px
  background-color: var(--player-list-background-color)

li
  display: inline-block
  width: 100%

  &:hover
    color: var(--player-list-hover-color)
    background-color: var(--player-list-hover-background-color)

.col-left, .col-right
  display: block
  width: 50%

.col-left
  float: left

.col-right
  float: right

  li
    text-align: right
