@import '../styles/variables'

:root
  --header-font-size: 20px

header
  background-color: var(--primary-dark-color)
  color: var(--primary-light-color)
  width: 100%
  position: fixed
  top: 0
  left: 0
  right: 0
  height: var(--header-height)
  padding-left: var(--gutter-left)
  padding-top: calc((var(--header-height) - var(--header-font-size)) / 2)
  font-size: var(--header-font-size)

nav
  margin-top: calc(var(--header-height) + 10px)

  & > ul > li
    float: left

    &::before
      content: '/'
      color: #ddd
      cursor: default
      display: inline-block

    & > a
      padding: 5px 10px
      text-decoration: none
      margin-top: 10px
      margin-right: 10px
      display: inline-block
      color: var(--accent-color-dark)
      text-transform: uppercase

      &:hover
        color: var(--accent-color-light)

footer
  font-style: italic
  position: fixed
  bottom: 0
  right: 0
