@import '../../styles/variables'

.header
  margin-bottom: 40px
  padding-top: 30px

h1
  color: var(--heading-large-color)
  font-family: var(--heading-font-family)
  font-size: 200%
  display: inline-block

.header-side
  float: right
