@import '../styles/variables'

:root
  --preview-width: 525px

a
  text-decoration: none

.game-preview
  display: inline-block
  margin-right: 85px
  margin-bottom: 30px
  width: var(--preview-width)

.lichess
  width: var(--preview-width)
  height: 352px
  border: none
