:root
  --primary-dark: #231f20
  --primary-light: white
a
  text-decoration: none

h3 
  text-align: center
  margin-bottom: 15px

h4 
  position: relative

.game-preview
  display: inline-block
  margin-right: 130px
  margin-bottom: 15px

  &:nth-child(3n)
    margin-right: 0

.game-preview, .module
  width: 525px

.module 
  padding: 20px
  text-align: center
  max-height: 120px
  min-width: 120px
  color: var(--primary-light)
  background-color: var(--primary-dark)
  border-radius: 2px

.module:hover 
  color: var(--primary-dark)
  background-color: var(--primary-light)
  cursor: pointer

.lichess
  width: 525px
  height: 352px
  frameborder: 0
