<page>
  <page-header>
    <page-title>Recent matches</page-title>
    <page-side-header>
      <label>Number of matches </label>
      <select (change)="onFilterChange($event.target.value)">
        <option
          *ngFor="let o of options"
          [ngValue]="o"
          [selected]="o === defaultOption"
        >
          {{o}}
        </option>
      </select>
    </page-side-header>
  </page-header>
  <page-body>
    <div>
      <a class="game-preview" *ngFor="let match of filteredMatches" [routerLink]="['/match', match.id]">
        <badge>
          <badge-title>{{match.name}}</badge-title>
          <badge-content>
            <board [url]="match.url"></board>
          </badge-content>
        </badge>
      </a>
    </div>
  </page-body>
</page>