:root
  --heading-large-color: #369
  --heading-medium-color: #444
  --body-text-color: #888
  --default-font-family: Arial, Helvetica, sans-serif
  --heading-font-family: var(--default-font-family)
  --body-font-family: Cambria, Georgia

h1
  color: var(--heading-large-color)
  font-family: var(--heading-font-family)
  font-size: 250%

h2, h3
  color: var(--heading-medium-color)
  font-family: var(--heading-font-family)
  font-weight: lighter

body
  margin: 2em

body, input[text], button
  color: var(--body-text-color)
  font-family: var(--body-font-family)

*
  font-family: var(--default-font-family)
