@import '../../styles/variables'

:root
  --title-height: 40px
  --panel-body-background-color: #EEE

.panel
  height: 100%
  overflow: auto

  &:hover
    cursor: pointer
    
    .title
      color: var(--accent-color-dark)

.title 
  text-align: center
  color: var(--primary-light-color)
  background-color: var(--primary-dark-color)
  border-radius: 2px
  height: var(--title-height)

  h4
    padding-top: calc((var(--title-height) - var(--heading-4-size)) / 2)

.body
  overflow: auto
  background-color: var(--panel-body-background-color)
