<page>
  <page-header>
    <page-title>Scott Logic lichess players</page-title>
  </page-header>
  <page-body>
    <a *ngFor="let player of players" (click)="onSelect(player)">
      <panel>
        <panel-title>{{player.username}}</panel-title>
        <panel-content>
          <row>
            <column>Online</column>
            <column>{{player.online}}</column>
          </row>
          <row>
            <column class="full-span">Rankings</column>
          </row>
          <row *ngIf="player.blitz">
            <column>Blitz</column>
            <column>{{player.blitz.rating}}</column>
          </row>
          <row *ngIf="player.bullet">
            <column>Bullet</column>
            <column>{{player.bullet.rating}}</column>
          </row>
          <row *ngIf="player.classical">
            <column>Classical</column>
            <column>{{player.classical.rating}}</column>
          </row>
          <row *ngIf="player.correspondence">
            <column>Correspondence</column>
            <column>{{player.correspondence.rating}}</column>
          </row>
          <row *ngIf="player.puzzle">
            <column>Puzzle</column>
            <column>{{player.puzzle.rating}}</column>
          </row>
        </panel-content>
      </panel>
    </a>
  </page-body>
</page>
